body {
  background: url("../img/bg.png") repeat #000 !important;
  color: #ffffff !important;
  font-family: "Segoe UI", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
td,
th,
label,
a,
div {
  color: #ffffff !important;
}

.fade-in {
  animation: fadeIn 0.6s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo-wrapper {
  text-align: center;
  margin-bottom: 25px;
}
.logo-wrapper img {
  max-width: 300px;
  opacity: 0;
  animation: fadeIn 0.8s ease forwards;
}

.card {
  background: rgba(42, 42, 42, 0.9) !important;
  border-radius: 12px;
  border: 1px solid #444;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.form-control {
  background: #333 !important;
  color: #fff !important;
  border: 1px solid #555 !important;
}
.form-control:focus {
  background: #3a3a3a !important;
  border-color: #777 !important;
}
.form-control::placeholder {
    color: #d6d6d6;
    opacity: 1;
}

.btn-primary {
  background: #ff8c00 !important;
  border: none !important;
  color: #000 !important;
}
.btn-primary:hover {
  background: #ffa733 !important;
}

.btn-secondary {
  background: #444 !important;
  color: #fff !important;
}
.btn-secondary:hover {
  background: #555 !important;
}

.btn-success {
  background: #ffa733 !important;
  color: #000 !important;
}
.btn-success:hover {
  background: #ffbd54 !important;
}

.weather-table {
  width: 100%;
  background: #252525 !important;
  border-radius: 10px;
  border: 1px solid #444;
}
.weather-table th {
  background: #2f2f2f !important;
  color: #ffa733 !important;
  border-bottom: 2px solid #ffa733 !important;
  padding: 10px;
}
.weather-table td {
  padding: 10px;
  border-bottom: 1px solid #444 !important;
}

.forecast-box {
  max-height: 500px;
  overflow-y: auto;
  padding-right: 10px;
}

.forecast-item {
  background: #252525 !important;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 12px;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.forecast-item table {
  width: 100%;
}

.forecast-item th {
  color: #ffa733 !important;
  width: 40%;
}

.forecast-box::-webkit-scrollbar {
  width: 8px;
}
.forecast-box::-webkit-scrollbar-track {
  background: #1e1e1e;
}
.forecast-box::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

.table-dark {
  background: #2a2a2a !important;
}

table.table tbody tr {
  background: #242424 !important;
}
table.table tbody td {
  color: #ffffff !important;
}

table.table tbody tr:hover {
  background: #333 !important;
}

table.table thead th {
  background: #2a2a2a !important;
  color: #ffa733 !important;
  border-bottom: 2px solid #ffa733 !important;
}

.alert-danger {
  background-color: #ff19194a !important;
  border-color: #ff6d6d6b !important;
}